# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Data soubory
*.csv
*.json

# Virtuální prostředí
venv/
env/

# IDE
.vscode/
.idea/

# Konfigurační soubory
config.py

# OS
.DS_Store
Thumbs.db

# Dodatečné soubory pro vývoj
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg 